

html {
	background-color: #eef5ff;
}


p {
	background-color: #e4edc0;
}

h1 {
	background-color: #35617b;
	color: #eef5ff;
	border-left: 60px solid #3d1045;
}

h2 {
	background-color: #c6dbf0;
	border-left: 30px solid #4444aa;
	border-right: 30px solid #3a9495;
}